.contact-data {
    padding: 20px 0 0;
    position: relative;
}

.contact-data .contact-data-menu {
    margin-top: 24px;
}

.contact-data .contact-data-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    gap: 13px;
    flex-wrap: wrap;
}

.contact-data .contact-data-menu ul a {
    text-transform: uppercase;
    text-align: center;
}

.contact-data .contact-data-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px 84px;
}

.contact-data .contact-data-info {
    width: 30%;
}

.contact-data .contact-data-info {
    color: #000;
    font-size: 16px;
}

.contact-data .contact-data-info *:not(br) {
    margin-bottom: 15px;
}

/* .contact-data .contact-data-block {
    width: 70%;
} */

.contact-data .contact-data-block h4 {
    margin-bottom: 16px;
    font-size: 24px;
}

.contact-data .contact-block-inner {
    /* padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid var(--black-50, #C2C2C2); */
    display: flex;
    gap: 15px 30px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.contact-data .contact-mess {
    border-radius: 20px;
    background:#E81F76;
    border:2px solid #E81F76;
    transition: all 0.3s linear;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    max-width: 392px;
}
.contact-data .contact-mess p{
    color:#fff;
    transition: all 0.3s linear;
}

.contact-data .contact-mess:hover {
    background:none;
    border:2px solid #E81F76;
}
.contact-data .contact-mess:hover p {
    color:#E81F76;
}
.contact-data .contact-mess:hover svg path {
    fill:#E81F76;
}

.contact-data .contact-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid var(--black-50, #C2C2C2);
}

.contact-data .contact-links div {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 20px;
    
}

.contact-data .contact-links svg {
    max-width: 65px;
}

.contact-data .contact-links a {
    color: #E81F76;
    font-size: 31px;
    font-weight: 700;
    line-height: 1.2;
}

@media (max-width:1199px) {

    .contact-data .contact-data-info,
    .contact-data .contact-data-block {
        width: 100%;
    }

    .contact-data .contact-data-wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width:768px) {

    .contact-data .contact-links a {
        font-size: 22px;
    }
   

    /* .contact-data .contact-block-inner {
        padding: 20px 15px;
    } */
    .contact-data .contact-links{
        padding: 10px;
    }
    .contact-data .contact-links div{
        gap:10px
    }
    .contact-data .contact-mess {
        max-width: 100%;
        padding: 10px;
        width: 100%;
    }

    .contact-data .contact-links svg {
        max-width: 45px;
    }
}

@media (max-width:460px) {
    .contact-data .contact-block-inner{
        flex-wrap: wrap;
    }
}